.twelve.columns.footer
  %footer.branding
    %p
      = succeed " : " do
        %a(href="/thoughts")thoughts
      = succeed " : " do
        %a(href="/about")about
      %a(href="/articles.xml")feed
