.container
  .twelve.columns.content
    %h1 Page not found

    %p
      Something went horribly wrong, and I apologize for that. The page or post may simply not exist anymore.

    %a{ href: "/" } Return Home
