%h1 About

.fixed-columns
  .left
    .avatar
      %img(src="https://gravatar.com/avatar/259469ed60f945161a150e79a381b26c?s=200" alt="Chad smiling, in a v-neck t-shirt, at a nighttime gathering. There are lights and balloons in the background.")
  .right
    %h2 Hi, I'm Chad Ostrowski
    :markdown
      Eventual writer, rockstar, and inventor. Currently in the employ of
      [PipelineDeals], making websites out of language. Find me elsewhere:
        [PipelineDeals]: https://www.pipelinedeals.com/
    #social-links
      %a.icon-github-sign(href="https://github.com/chadoh"title="Github"alt="Github")
      %a.icon-stackexchange(href="http://stackexchange.com/users/90831/chadoh"title="Stackexchange"alt="Stackexchange")
      %a.icon-instagram(href="http://www.instagram.com/_chadoh_"title="Instagram"alt="Instagram")
      %a.icon-twitter-sign(href="https://twitter.com/chadoh"title="Twitter"alt="Twitter")
      %a.icon-linkedin-sign(href="http://www.linkedin.com/in/chadoh"title="LinkedIn"alt="LinkedIn")
