Flags: no-comments
Style: main-nav-page no-columns
Sidebar: none

%h1 About

.fixed-columns
  .left(style="max-width: 430px")
    .avatar
      %img(src="https://gravatar.com/avatar/259469ed60f945161a150e79a381b26c?s=400" alt="Chad smiling, in a v-neck t-shirt, at a nighttime gathering. There are lights and balloons in the background.")
  .right
    %h2 Hi, I'm Chad O
    :markdown
      I'm a web developer for [PipelineDeals]. Sometimes I make music and write.
      This is my blog. Find me elsewhere:
        [PipelineDeals]: https://www.pipelinedeals.com/
    #social-links
      %a.icon-github-sign(href="https://github.com/chadoh"title="Github"alt="Github")
      %a.icon-stackexchange(href="http://stackoverflow.com/users/249801/chadoh"title="Stackoverflow"alt="Stackoverflow")
      %a.icon-instagram(href="http://www.instagram.com/_chadoh_"title="Instagram"alt="Instagram")
      %a.icon-twitter-sign(href="https://twitter.com/chadoh"title="Twitter"alt="Twitter")
      %a.icon-linkedin-sign(href="http://www.linkedin.com/in/chadoh"title="LinkedIn"alt="LinkedIn")
