%h1 Future

:markdown
  If you foresee us communicating in the future, don't delay! Make that happen right now.

  Or maybe you see a future me receiving some of your money. You can make that happen, too.
