Flags: draft, no-comments
Style: main-nav-page no-columns
Sidebar: none

%h1 Future

%p I could help you build a better one.

%form{ :method => 'post', :action => '/contact' }
  %label{ :for => 'from' } From
  %input{ :type => 'text', :id => 'from', :name => 'from' }

  %label{ :for => 'body' } Your Message
  %input{ :type => 'text', :id => 'body', :name => 'body' }

  %input{ :type => 'submit' }
