%h1 Subscribe

:markdown
  This should really be a simple drop-down, not a whole new page.

  I need to dig in to the internals of Nesta and figure out how to
  allow additional &gt;li&lt;s to be appended to the menu items.
