.content
  - if body_class.include? 'no-columns'
    = haml :contents, :layout => false
  - else
    #column-wrap-wrap
      #column-wrap
        #columns
          = haml :contents, :layout => false

  - unless @page.flagged_as? 'no-comments'
    = haml :comments, :layout => false


- unless @page.metadata('sidebar') == 'none'
  #sidebar
    %section#article-titles= article_titles(latest_articles)
